@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@500;600;800&family=Poppins:wght@400;700&family=Skranji:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    background-color: rgb(35, 29, 29);
    border-radius: 10px;
    padding: 20px;
    width: 270px;
    height: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: white; 
}

img {
    border-radius: 50%; 
    background-color: white; 
    width: 150px;
    height: 150px;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="file"] {
    display: none; 
}

label {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px; 
    display: inline-block; 
}

label:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid yellow; 
}
